.logInContainer{
    background-image: linear-gradient(270deg, rgb(19, 19, 19), rgba(48, 48, 72, 0.861));
    height: 900px;
    margin-top: -50px;
}
h1{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 120px;
    margin-left: 40px;
    text-shadow: rgba(0, 0, 0, 0.669) 4px 4px 4px;
}
.cardContainer{
    display: grid;
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.cardItems{
    color: rgba(127, 255, 212, 0.622);
    background-color: rgba(245, 242, 246, 0.05);
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.669) 4px 10px 12px 5px;
    border-radius: 13px ;
    display: grid;
    grid-template-rows: 139px 107px 107px 107px;


}
.form{
    margin-top: 35px;

}
.userName, .userPassword {
    margin-left: 50px;
}
.userInput{
    margin-left: 40px;
    margin-bottom: 20px;
    outline: none;
    height: 13px;
    padding-right: 8px;
}
input[type=text]{
    width: 200px;
    height: 20px;
    margin-top: 7px;
    border: none;
    border-radius: 10px;
    padding-left: 11px;
}
input[type=password]{
    width: 160px;
    height: 20px;
    margin-top: 7px;
    border: none;
    border-radius: 10px;
    padding-left: 11px;
}
.fPass{
    margin-top: 30px;
    margin-left: 42px;
    display: grid;
    grid-template-columns: 100px 100px;
    height: 10px;
    column-gap: 40px;
    font-size: 12px;

}
.forgotPass,.newUser{
    text-decoration: none;
    color: rgb(15, 15, 18);
    cursor: pointer;
}
.forgotPass:hover,.newUser:hover{
    color: green;
}
.button{
    background-color: rgba(245, 245, 220, 0.503);
    margin-top: -30px;
    width: 60px;
    height: 21px;
    margin-left: 200px;
    text-align: center;
    display: block;
    border-radius: 10px;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.669) 1px 5px 12px 2px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.767);
}
button:active{
    width: 56px;
    height: 17px;
}